<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.rsx.mapper.GoodsInfoMapper">
  <resultMap id="BaseResultMap" type="com.pet.rsx.pojo.GoodsInfo">
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_title" jdbcType="VARCHAR" property="goodsTitle" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_type_id" jdbcType="INTEGER" property="goodsTypeId" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="goods_number" jdbcType="VARCHAR" property="goodsNumber" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pet.rsx.pojo.GoodsInfo">
    <result column="goods_details" jdbcType="LONGVARCHAR" property="goodsDetails" />
  </resultMap>



</mapper>