<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.rsx.mapper.GoodsParameterMapper">
  <resultMap id="BaseResultMap" type="com.pet.rsx.pojo.GoodsParameter">
    <id column="parameter_id" jdbcType="INTEGER" property="parameterId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="parameter_name" jdbcType="VARCHAR" property="parameterName" />
    <result column="parameter_icon" jdbcType="VARCHAR" property="parameterIcon" />
    <result column="parameter_price" jdbcType="DOUBLE" property="parameterPrice" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="preferential_price" jdbcType="DOUBLE" property="preferentialPrice" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>

  <select id="getPrice" resultType="double" parameterType="com.pet.rsx.pojo.GoodsParameter">
    SELECT  preferential_price FROM goods_parameter where parameter_id = #{parameterId};
  </select>
</mapper>