<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pet.lxw.mapper.GoodsCollectionMapper" >

    <resultMap id="BaseResultMap1" type="com.pet.lxw.pojo.GoodsCollection" >
    <id column="collection_id" property="collectionId" jdbcType="INTEGER" />
    <result column="goods_id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="BIT" />
    </resultMap>
  <resultMap id="BaseResultMap" type="com.pet.lxw.dto.GoodsCollectionDto" >
    <id column="collection_id" property="collectionId" jdbcType="INTEGER" />
    <result column="goods_id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="BIT" />
    <collection property="goods_img" ofType="com.pet.lxw.dto.GoodsImageDto">
      <id column="img_id" property="id"></id>
      <result column="goods_image" property="goodsImage"></result>
    </collection>
    <collection property="goods_info" ofType="com.pet.lxw.dto.GoodsNameDto">
      <id column="goods_id" property="goodsId"></id>
      <result column="goods_name" property="goodsName"></result>
      <result column="show_price" property="showPrice"></result>
    </collection>
  </resultMap>


  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    collection_id, goods_id, customer_id, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select
    <include refid="Base_Column_List" />
    from goods_collection
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from goods_collection
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.pet.lxw.pojo.GoodsCollection" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into goods_collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collectionId != null" >
        collection_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collectionId != null" >
        #{collectionId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pet.lxw.pojo.GoodsCollection" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update goods_collection
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pet.lxw.pojo.GoodsCollection" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update goods_collection
    set goods_id = #{goodsId,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT}
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </update>

  <!--收藏列表查询-->
  <select id="selectFromCustomerId" resultMap="BaseResultMap" parameterType="int">
    SELECT c.goods_id,c.goods_image,c.goods_name,c.show_price,g.collection_id
FROM (SELECT * from  goods_collection WHERE customer_id = #{customerId} and status = 1)g  LEFT JOIN
(select a.*,b.goods_name,b.show_price FROM (select * from goods_img)
a LEFT JOIN (SELECT * FROM goods_info ) b ON a.goods_id =b.goods_id) c ON g.goods_id = c.goods_id
  </select>

  <!--删除-->
  <update id="delWishlist" parameterType="com.pet.lxw.pojo.GoodsCollection">
    update goods_collection set status = 0 where collection_id = #{collectionId}
  </update>

  <!--批量删除-->
  <update id="delByForeach" parameterType="map" >
    update goods_collection set status = 0
    <where>
      collection_id in
      <foreach collection="ids" item="collectionId" open="(" close=")" separator=",">
        #{collectionId}
      </foreach>
    </where>
  </update>

  <!--增加收藏-->
  <insert id="insertC" parameterType="com.pet.lxw.pojo.GoodsCollection" >
    insert into goods_collection (goods_id, customer_id)
    values (#{goodsId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER})
  </insert>

  <!--查询收藏，是否展示红心-->
  <select id="selectC" parameterType="com.pet.lxw.pojo.GoodsCollection" resultType="com.pet.lxw.pojo.GoodsCollection">
    select *from goods_collection
    where goods_id=#{goodsId,jdbcType=INTEGER}
    and customer_id = #{customerId,jdbcType=INTEGER}
  </select>

    <!--已有数据的情况下，按红心取消或者添加收藏-->
    <update id="changedFromHeart" parameterType="com.pet.lxw.pojo.GoodsCollection">
      update goods_collection set status = #{status}
      where goods_id=#{goodsId,jdbcType=INTEGER}
      and customer_id = #{customerId,jdbcType=INTEGER}
    </update>

</mapper>