<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pet.hpq.mapper.ShoppingCartMapper" >
  <resultMap id="BaseResultMap" type="com.pet.hpq.pojo.ShoppingCart" >

    <id column="cart_id" property="cartId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="shoppingCartMap" type="com.pet.hpq.dto.ShoppingCarDto">
    <id column="cart_id" property="cartId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="parameter_id" property="parameterId" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="parameter_icon" property="parameterIcon" jdbcType="VARCHAR" />
    <result column="parameter_name" property="parameterName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    cart_id, customer_id, goods_id, number, price,total_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from shopping_cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </select>
  <select id="getCart" resultMap="shoppingCartMap" parameterType="int">
    SELECT sc.cart_id,sc.goods_id,sc.parameter_id,sc.number,gi.goods_name, gp.parameter_icon,gp.parameter_name,sc.price,sc.total_price
    FROM shopping_cart sc,goods_parameter gp,goods_info gi where sc.customer_id=#{customerId} and sc.parameter_id=gp.parameter_id and sc.`status`=1 and sc.goods_id=gi.goods_id  ORDER BY cart_id desc
  </select>
  <select id="getPrice" parameterType="int" resultType="BigDecimal">
    select preferential_price from goods_parameter where parameter_id=#{parameterId}
  </select>
  <select id="getAddressId" parameterType="int" resultType="int">
    select address_id from shipping_address where customer_id=#{custmerId} and is_default=1
  </select>
  <select id="getCartCount" parameterType="int" resultType="int">
    SELECT count(*) from shopping_cart where customer_id=#{customerId} and status &lt;&gt;  0
  </select>
  <select id="getPriceInfo" parameterType="com.pet.hpq.vo.ShoppingCarVo" resultType="BigDecimal">
    SELECT gp.preferential_price from shopping_cart sc,goods_parameter  gp
    where sc.cart_id=#{cartId} and customer_id=#{customerId} and sc.parameter_id=gp.parameter_id and sc.status &lt;&gt; 0
  </select>
  <select id="getOneGoods" parameterType="com.pet.hpq.vo.ShoppingCarVo" resultMap="shoppingCartMap">
      select goods_name,parameter_name,gp.preferential_price price from goods_info gi,goods_parameter gp WHERE gi.goods_id=#{goodsId} and gp.parameter_id=#{parameterId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from shopping_cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </delete>
  <insert id="addOrder" useGeneratedKeys="true" keyProperty="orderId" parameterType="com.pet.hpq.vo.AddOrderVo">
    insert into t_order(customer_id,address_id,order_number,total_price) VALUES(#{customerId},#{addressId},#{orderNumber},#{totalPrice})
  </insert>
  <insert id="addOrderGoods" parameterType="com.pet.hpq.vo.AddOrderGoodsVo">
    insert into order_goods(order_id,goods_id,number,price,total_price,parameter_id) values
   <foreach collection="shoppingCarDtos" item="item" index="index" separator=",">
                                  (
                                  #{orderId},
                                  #{item.goodsId},
                                  #{item.number},
                                  #{item.price},
                                  #{item.totalPrice},
                                  #{item.parameterId}
                                  )
                                </foreach>

  </insert>
<insert id="addShoppingCart" parameterType="com.pet.hpq.vo.ShoppingCarVo">
insert into shopping_cart ( customer_id, goods_id,
                            number, price,total_price,parameter_id)
values(#{customerId},#{goodsId},#{number},#{price},#{totalPrice},#{parameterId})
</insert>
  <insert id="addOneOrderGoods" parameterType="com.pet.hpq.vo.ShoppingCarVo">
    insert into order_goods(order_id,goods_id,number,price,total_price,parameter_id) values
    (
      #{orderId},
      #{goodsId},
      #{number},
      #{price},
      #{totalPrice},
      #{parameterId}
    )
  </insert>
  <insert id="insert" parameterType="com.pet.hpq.pojo.ShoppingCart" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into shopping_cart (cart_id, customer_id, goods_id, 
      number, price)
    values (#{cartId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{number,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.pet.hpq.pojo.ShoppingCart" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        cart_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="price != null" >
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateShoppingCar" parameterType="com.pet.hpq.vo.ShoppingCarVo">
    update shopping_cart set number=#{number},price=#{price},total_price=#{totalPrice}
    where cart_id=#{cartId} and customer_Id =#{customerId}
  </update>
  <update id="removeCart" parameterType="com.pet.hpq.vo.ShoppingCarVo">
    update shopping_cart set status=0 where customer_id=#{customerId} and cart_id=#{cartId}
  </update>
  <update id="removeAllCart" parameterType="int">
    update shopping_cart set status=0 where customer_id=#{customerId}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pet.hpq.pojo.ShoppingCart" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update shopping_cart
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pet.hpq.pojo.ShoppingCart" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update shopping_cart
    set customer_id = #{customerId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      number = #{number,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE}
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
</mapper>